<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>ついのすみか</title>
<link href="/favicon.ico" rel="shortcut icon" />
<%= stylesheet_link_tag 'admin' %>
<%= stylesheet_link_tag 'will_paginate' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'Widget/Dialog' %>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="title"><a href="/admin/">ついのすみか管理ページ</a></div>
    <div id="description">管理者用ページ</div>
  </div><!-- id="header" -->

  <div id="menu">
    <ul>
<%- if admin_logged_in? -%>
      <li>ログイン：<%= current_user.login %> 様</li>
      <li><a href="/admin/account/logout">ログアウト</a></li>
<%- else -%>
      <li><a href="/admin/account/login">ログイン</a></li>
<%- end -%>
    </ul>
  </div><!-- id="menu" -->

  <ul id="tab">
    <li<% if params[:controller] == 'admin/top' %> class="selected"<% end %>><a href="/admin">メニュー</a></li>
    <li<% if params[:controller] == 'admin/customers' %> class="selected"<% end %>><a href="/admin/customers">会員</a></li>
    <li<% if params[:controller] == 'admin/stone_shops' %> class="selected"<% end %>><a href="/admin/stone_shops">石材店</a></li>
    <li<% if params[:controller] == 'admin/cemeteries' or params[:controller] == 'admin/compartments' %> class="selected"<% end %>><a href="/admin/cemeteries">霊園</a></li>
    <li<% if params[:controller] == 'admin/inquiries' %> class="selected"<% end %>><a href="/admin/inquiries">お問い合わせ</a></li>
    <li<% if params[:controller] == 'admin/cities' %> class="selected"<% end %>><a href="/admin/cities">市区町村</a></li>
    <li<% if params[:controller] == 'admin/areas' %> class="selected"<% end %>><a href="/admin/areas">地域</a></li>
  </ul>

  <div id="content">
    <div id="main">
<%= yield %>
    </div><!-- id="main" -->
  </div><!-- id="content" -->

  <div id="footer">
    <strong>ついのすみか</strong> ©<%= Time.now.year %> <a href="http://www.actindi.com" alt="アクトインディ">アクトインディ</a>
  </div><!-- id="footer" -->
</div><!-- id="container" -->
</body>
</html>
