<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title><%= @title %></title>
<link href="/favicon.ico" rel="shortcut icon" />
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag :defaults %>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="title"><%= link_to @title, root_path %></div>
    <div id="description"><%= @description %></div>
  </div><!-- #header -->

  <div id="menu">
    <ul>
<%- if logged_in? -%>
      <li>ログイン：<%= current_user.login %> / <%= current_user.name %> 様</li>
      <li><%= link_to "ログアウト", logout_path %></li>
<%- else -%>
      <li><%= link_to "ログイン", login_path %></li>
<%- end -%>
    </ul>
  </div><!-- #menu -->

  <ul id="tab">
    <li<% if controller.controller_path == "top" %> class="selected"<% end %>><%= link_to "トップ", root_path %></li>
    <li<% if controller.controller_path == 'providers' %> class="selected"<% end %>><%= link_to "お寺", '' %></li>
    <li<% if controller.controller_path == 'inquiries' %> class="selected"<% end %>><%= link_to "お問い合わせ", "" %></li>
  </ul>

  <div id="content">
    <div id="main">
<%= yield %>
    </div><!-- #main -->
  </div><!-- #content -->

  <%= render :partial => "shared/footer" %>
</div><!-- #container -->
</body>
</html>
